<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Product Manager</title>
        <link href="../css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div align="center">
            <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
            <h1>Lista de producto</h1>
            <a href="new">Crear nuevo producto</a>
            <br/><br/>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Made In</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${listProducts}">
                        <td th:text="${product.id}">Product ID</td>
                        <td th:text="${product.name}">Nombre</td>
                        <td th:text="${product.brand}">Marca</td>
                        <td th:text="${product.madein}">Made in</td>
                        <td th:text="${product.price}">Precio</td>
                        <td>
                            <a th:href="@{'/edit/' + ${product.id}}">Editar</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/delete/' + ${product.id}}">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>  
    </body>
</html>